.offer-item {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 30px;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__option {
    display: flex;
    align-items: center;
    text-align: right;
    width: 60%;
    justify-content: space-between;
  }
  &__subtitle {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
  }
  &__title {
    font-family: "Big Shoulders Display", cursive;
    color: #0c7ec5;
    font-size: 10rem;
    font-weight: 300;
    text-align: left;
    line-height: 150px;
    text-transform: capitalize;
  }
  &__description {
    font-size: 1.5rem;
    text-align: justify;
  }
  &-container {
    background-color: rgba(255, 255, 255, 0.75);
    width: 80%;
    margin: 50px 0;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    &--1 {
      width: 40%;
      & .offer-item__button {
        display: none;
      }
    }
    &--2 {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      width: 40%;
    }
  }
  .button {
    border: none;
    cursor: pointer;
    padding: 15px;
    background: #0c7ec5;
    border: 2px solid #095b8e;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    &:hover {
      -webkit-box-shadow: 5px 20px 24px -15px #000000;
      box-shadow: 5px 20px 24px -15px #000000;
      transform: translateY(-10px);
    }
    &:active {
      transform: translateY(-5px);
    }
  }
}
.fa-check {
  font-size: 3rem;
  color: green;
}
.fa-times {
  padding-right: 13px;
  font-size: 3rem;
  color: rgb(177, 10, 10);
}

.free {
  background-image: url("../../utils//photos/offerPlans/free-plan.jpg");
}
.premium {
  background-image: url("../../utils//photos/offerPlans/premium-plan.jpeg");
}
.enterprice {
  background-image: url("../../utils//photos/offerPlans/enterprice-plan.jpg");
}

@media (max-width: 1366px) {
  .offer-item {
    &__title {
      font-size: 8rem;
    }
    &__description {
      font-size: 1.3rem;
    }
  }
}
@media (max-width: 1100px) {
  .fa-check {
    font-size: 2.5rem;
  }
  .offer-item {
    &__title {
      width: 100%;
      font-size: 5rem;
      text-align: center;
      line-height: 80px;
    }
    &__description {
      font-size: 1rem;
      text-align: center;
    }
    &-container {
      padding: 50px 0;
      &--1 {
        width: 70%;
        & .offer-item__button {
          display: block;
          margin-top: 30px;
        }
      }
      &--2 {
        display: none;
      }
    }
  }
}
@media (max-width: 500px) {
  .offer-item {
    padding: 0;
    .button {
      padding: 5px;
      font-size: 1rem;
    }
    &__title {
      font-size: 3rem;
      line-height: 60px;
    }
  }
}
