.contact {
  //   height: 70vh;
  width: 100%;
  background-color: rgb(40, 36, 36);
  &-company-name {
    color: #0c7ec5 !important;
    font-family: "Big Shoulders Display", cursive;
    font-size: 2.1rem !important;
  }
  &-title {
    font-family: "Big Shoulders Display", cursive;
    font-weight: 300;
    font-size: 10rem;
    color: #0c7ec5;
    text-align: center;
  }
  &-container {
    &--1 {
    }
    &--2 {
      display: flex;
      width: 100%;
      justify-content: space-around;
      & p {
        color: rgb(205, 205, 205);
        font-size: 1.3rem;
        text-align: center;
        margin-top: 10px;
      }
    }
  }
}
@media (max-width: 1366px) {
  .contact-title {
    // font-size: 7rem;
  }
}
@media (max-width: 1100px) {
  .contact {
    &-title {
      font-size: 7rem;
    }
    &-company-data {
      margin-top: 30px;
    }
    &-container {
      &--2 {
        flex-direction: column;
        & p {
          font-size: 1rem;
        }
      }
    }
  }
}
