.footer {
  &-text {
    color: #0c7ec5;
    font-family: "Big Shoulders Display", cursive;
    font-weight: 300;
    text-align: center;
  }
  background-color: rgb(40, 36, 36);
  display: block;
  color: #0c7ec5;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 300;
  padding-top: 100px;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  .footer {
    padding-top: 20px;
  }
}
