.app {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  max-height: 100%;
}
::-webkit-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  background-color: #0c7ec525;
}
::-webkit-scrollbar-thumb {
  background-color: #0c7ec5;
  width: 10px;
}
.title {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 300;
  color: #0c7ec5;

  font-size: 10rem;
}
.no-display {
  display: none !important;
}
